.wrapper {

    --search-border-radius: 92px;
    --search-height: 46px;
    z-index: 10         ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--defaul-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--defaul-layout-width);
    // background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {}

// .search {
//     position: relative;
//     width: 361px;
//     height: var(--search-height);
//     border-radius: var(--search-border-radius);
//     padding-left: 16px;
//     background-color: rgba(22, 24, 35, .06);
//     display: flex;
//     justify-content: space-between;

//     input {

//         flex: 1;
//         height: 100%;
//         color: #828282;
//         font-size: 1.6rem;
//         border: none;
//         outline: navajowhite;
//         background-color: transparent;

//     }

//     input:not(:placeholder-shown)~.search-btn {
//         background-color: rgba(22, 24, 35, .06);
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         top: 9px;
//         right: 48px;
//         height: calc(var(--search-height) - 18px);
//         width: 1px;
//         background-color: #ccc;

//     }

//     &:focus-within {
//         border: 1.5px solid rgba(22, 24, 35, 0.2);
//     }
// }

// .clear,
// .loading {
//     position: absolute;
//     right: 52px + 16px;
//     top: 50%;
//     // font-size: 1.6rem;
//     transform: translateY(-50%);
//     color: rgba(22, 24, 35, 0.34);
//     border: none;

// }



// .search-btn {
//     width: 48px;
//     height: 100%;
//     font-size: 1.8rem;
//     border: none;
//     // border-radius : var(--search-border-radius);
//     border-top-right-radius: var(--search-border-radius);
//     border-bottom-right-radius: var(--search-border-radius);

//     // border: none;
//     &:hover {
//         background-color: rgba(22, 24, 35, .03);
//         cursor: pointer;
//     }

//     &:active {
//         background-color: rgba(22, 24, 35, .075);
//     }
// }

// .search,
// .search_result {
//     width: 361px;
// }

// .search_result {
//     // padding: 8px;
// }

// .search_title {
//     padding: 5px 12px;
//     font-size: 1.4rem;
//     font-weight: 600;
//     color: rgba(22, 24, 35, .05);
// }


.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}





.actions {
    display: flex;
    align-items: center;


}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;

}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    // padding: 4px, 12px;

}