.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    margin-top: 12px;
}

.nickname {
    font-size: 1.8rem;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.6rem;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.value~.value {
    margin-left: 20px;
}

.follow-btn {
    padding: 6px 16px;
}